<div class="card" style="width: 18rem;">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
        <h2 class="card-title">{{card.title}}</h2>
        <p class="card-text"><b>Details: </b>{{card.desc}}</p>
        <p class="card-text"><b>ProgramId: </b>{{card.programId}}</p>
        <p class="card-text"><b>UserId: </b>{{card.userId}}</p>
        <button class="btn btn-info mt-1" (click)="resolved()">
            Resolved ?
        </button>
    </div>
</div>